.fullScreenImage{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(11, 11, 11, 0.85);
    z-index: 999;
}

.fullScreenImage.hidden{
    pointer-events: none;
    opacity: 0;
}

.fullScreenImage img{
    max-width: 75%;
    max-height: 75%;
    margin: auto;
    pointer-events: none;
}

.imageBlock{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.image{

}