.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-content: center;
    min-width: 151px;
    height: 100%;
    border-right: 3px dotted #aaaaaa;
}

.empty{
    height: 10%;
}