.createCardContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}

.searchContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top : 3%;
    padding-left: 3%;
    padding-bottom: 1%;
    border-bottom: 2px solid goldenrod;
    border-radius: 4%;
    width: 100%;
}

.searchButton{
    font-size: 24px;
}

.animSwitchLabelOpacity{
    animation-name: switchLabelOpacity;
}

.animSwitchItemOpacity{
    animation-name: switchItemOpacity;
}

.animSwitchLabelOpacity, .animSwitchItemOpacity{
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

@keyframes switchItemOpacity {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes switchBorderOpacity {
    0%{
        border-color: goldenrod;
    }
    100%{
        border-color: rgba(218, 165, 32, 0);
    }
}

@keyframes switchLabelOpacity {
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
}