.resultContainer{
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    max-height: 100%;
    height: 20px;
    margin-top: 5px;
    padding-right: 5px;
}

.resultContainer::-webkit-scrollbar{
    background-color: #111111;
}

.resultContainer::-webkit-scrollbar-thumb {
    background-color: goldenrod;
    border-radius: 9em;
}

.loadingContainer{
    display: flex;
    justify-content: center;
}

.loading {
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    margin: 10px auto;
    border: 2px solid goldenrod;

    height: 48px;
    width: 48px;
}

.translationBlock{
    display: flex;
    justify-content: center;
}

.translation{
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: goldenrod;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    line-height: 30px;
    vertical-align: top;
}

@keyframes loading {
    0%{
        transform: rotate(0);
        border-radius: 0;
    }
    50%{
        transform: rotate(180deg);
        border-radius: 50%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 0;
    }

}