
.tags, .items{
    display: flex;
    flex-wrap: wrap;
}

.tags{
    gap: 3px;
}

.translations{

}

.translations .items{
    flex-direction: column;
}

.synonymGroups .items{
    flex-direction: row;
}

.items{
    row-gap: 2px;
    column-gap: 10px;
    flex-direction: column;
    align-content: stretch;
    padding-top: 5px;
}

.index{
    color: goldenrod;
    border-bottom-left-radius: 6px;
    padding-left: 2px;
    font-size: 12px;
}

.number{
    border: 1px solid goldenrod;
    border-radius: 8px;
    padding: 1px 6px;
    line-height: 12px;
    box-sizing: content-box;
}

.textType{
    display: inline;
    font-family: Arial, serif;
    font-size: 20px;
}

.textExpression{
    display: inline;
    font-family: Arial, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.textValue{
    display: inline;
    font-size: 14px;
    vertical-align: top;
    line-height: 15px;
    padding-bottom: 4px;
}

.textTranslation{
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 20px;
    line-height: 10px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 6px;
    vertical-align: top;
}

.synonymGroups{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.synonymHeader {
    position: absolute;
    background-color: #111111;
    top: -16px;
    left: 14px;
    padding-left: 3px;
    padding-right: 3px;
}

.synonym{
    display: block;
    font-size: 12px;
    padding: 0px 2px;
    margin: 2px;
    font-weight: bold;
    border: 1px  peru dashed;
    border-radius: 2px;
}

.tag{
    display: inline-block;
    border: 1px solid goldenrod;
    border-radius: 15%;
    padding: 1px;
    font-size: 10px;
    background-color: peru;
    color: #111111;
    font-weight: bold;
    box-sizing: content-box;
}

.meaning{
    display: flex;
    flex-direction: column;
}

.fix{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.fixHeader{
    margin-right: 10px;
    color: goldenrod;
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
}

.fix .tag{
    font-size: 12px;
}
