.loadingContainer{
    display: flex;
    justify-content: center;
}

.loading {
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    margin: 10px auto;
    border: 2px solid goldenrod;

    height: 48px;
    width: 48px;
}

@keyframes loading {
    0%{
        transform: rotate(0);
        border-radius: 0;
    }
    50%{
        transform: rotate(180deg);
        border-radius: 50%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 0;
    }

}

.appButton{
    color: blanchedalmond;
    background-color: #111111;
    border: 0 solid #111111;
    border-radius: 25%;
    border-bottom: 2px solid #111111;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
    padding: 5px;
    transition: border-color 0.5s, color 0.2s;
}

.appButton:hover{
    border-bottom-color: goldenrod;
    transition: border-color 0.2s, color 0.2s;
}

.appButton:active{
    border: 1px solid goldenrod;
    color: goldenrod;
}

.inputContainer{
    position: relative;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    height: auto;
}

.input{
    display: block;
    background-color: #111111;
    color: goldenrod;
    font-size: inherit;
    line-height: inherit;
    margin-right: 0;
    border: 0;
    border-bottom: 1px solid goldenrod;
    padding: 0 0 0 8px;
    outline: none;
    width: 100%;
}

.labelBox{
    position: relative;
    height: inherit;
    width: 0;
    border-top: 2px solid goldenrod;
    transition: width 0.2s;
    box-sizing: content-box;
}

.label{
    position: absolute;
    top: 0;
    color: blanchedalmond;
    opacity: 0.3;
    font-size: inherit;
    left: 9px;
    transition: transform 0.2s, font-size 0.2s;
    pointer-events: none;
    white-space: nowrap;
}

.input:focus ~ .label,
.input:valid ~ .label{
    transform:  translateY(-100%) scale(0.75);
}

.input:focus ~ .labelBox{
    width: 100%;
}

.input:focus{
    color: #aaaaaa;
}

.navLink{
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

.navLink:hover{
    color:gold;
}

.checkbox{
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;
    min-width: 15px;
    min-height: 15px;
    border: 2px solid goldenrod;
    display: flex;
    justify-content: center;
    align-content: center;
}

.checkBoxContainer{
    display: flex;
    align-items: center;
}

.checkBoxContainer .title{
    color: goldenrod;
    font-size: 20px;
    line-height: 24px;
    vertical-align: top;
    margin-right: 10px;
}

.checkbox.checked::after{
    color: goldenrod;
    content: " ";
    height: 9px;
    width: 7px;
    border-color: goldenrod;
    border-bottom: 3px solid;
    border-right: 3px solid;
    font-size: 16px;
    transform: rotate(45deg);
}

.disabled{
    color: #aaaaaa;
    pointer-events: none;
}