.authContainer{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    color: goldenrod;
    width: 550px;
    height: 260px;
    border: 2px dotted #aaaaaa;
    background-color: #111111;
    flex-direction: column;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.flexItem{
    display: flex;
    flex: 1 1 25%;
    border: 0px dotted #aaaaaa;
    justify-content: center;
    align-content: flex-end;
}

.flexItem:nth-child(1){
    text-align: center;
}

.authInput{
    width: 90%;
}

.footer{
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-content: flex-end;
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
}

.links{
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    margin: auto 0;
}

.links h5{

}

.links h5 a{
    margin-left: 10px;
}