.appButton{
    color: blanchedalmond;
    background-color: #111111;
    border: 0px solid #111111;
    border-radius: 25%;
    border-bottom: 2px solid #111111;
    margin-left: 3px;
    margin-right: 3px;
    transition: border-color 0.5s, color 0.2s;

}

.appButton:hover{
    border-bottom-color: goldenrod;
    transition: border-color 0.2s, color 0.2s;
}

.appButton:active{
    border: 1px solid goldenrod;
    color: goldenrod;
}
